.icon-button {
  display: inline-block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-button.edit {
  background-image: image-url('coupons/cog.svg');
  width: 20px;
  height: 20px;
}

.icon-button.remove {
  background-image: image-url('coupons/remove.svg');
  width: 20px;
  height: 20px;
}

.icon-button.duplicate {
  background-image: image-url('coupons/duplicate.svg');
  width: 20px;
  height: 20px;
}
