<% if record.errors.any? %>
  <div class="form-errors">
    <p>
      <%= t('coupons.form_error_description') %>
    </p>

    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
