<div class="panel panel-no-coupons">
  <h1 class="panel-title">No Coupons</h1>

  <div class="panel-body">
    <p>
      You haven't created coupons yet. This where they appear.
    </p>

    <p>
      <%= link_to t('coupons.new_coupon_button'), new_coupon_path, class: 'button rounded green' %>
    </p>
  </div>
</div>
